[submodule "skill-creator"]
	path = skill-creator
	url = https://github.com/anthropics/claude-plugins-official.git
[submodule ".external-skills/claude-plugins-official"]
	path = .external-skills/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
